header 
{ color:white; font-size:30px;
 background-image:url('back.jpg');
 background-position:left;
 padding:0 30px; text-decoration:underline;
  text-align:center; border-radius: 15px
 margin:auto; width: 90%}


h2,h3,h4 { background-color:#ffb6c1; color:white;
font-family: verdana, sans-serif;
word-spacing: 0.8em;

 }



 .list {  background-image:url('back.jpg');
 background-position: left;

 ; line-height: 1.4em;}


.footer{ background-color:#555555;  color: white; text-align: center 
}

a {color:#023020; font-weight: 20px}


table, th, td { border:1px solid; text-align: center;
  background-image:url('back.jpg');
 ; font-family:verdana, sans-serif ; font-size: 15px}


table {width:80%; margin-right: auto; margin-left: auto}


img { max-width:120%; }

.container {
	width:90%; margin:auto; padding: 0 30px
}


.boxes{ justify-content: space-around; display: flex; 
	align-items: center; margin: auto;;padding: 0 30px;

}


.box {
	flex-grow: 1;
}















	
